<!-- <div style="height: 100%" fxLayout="column" *ngIf="item$ | async as item">

  <mat-toolbar color="primary">
      <span><mat-icon>receipt</mat-icon></span>
      <span fxFlex="20px"></span>
      <div fxLayout="column" class="mat-typography">
          <div fxLayout="row">{{ item.ucenecLookup.ime + " " + item.ucenecLookup.priimek}}</div>
          <div fxLayout="row" fxLayoutGap="8px">
              <div>{{ item.ucnaPogodba.stevilka}}</div>
              <mat-divider [vertical]="true"></mat-divider>
              <mat-chip>{{ item.ucnaPogodba.statusPogodba}}</mat-chip>
          </div>
          
      </div>
      <span fxFlex></span>
      <span>
          <button mat-icon-button (click)="goBack()">
              <mat-icon>reply</mat-icon>
          </button>
      </span>
      <span>
          <button mat-icon-button [matMenuTriggerFor]="menuHeader" matTooltipPosition="above">
              <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menuHeader="matMenu">
              <button mat-menu-item type="button" (click)="editItemModal(item.id)">
                  <mat-icon>edit</mat-icon><span>Uredi</span>
              </button>
              <button mat-menu-item type="button" (click)="deleteItem(item)">
                  <mat-icon>call_missed</mat-icon><span>Izbriši</span>
              </button>
              <button mat-menu-item type="button" (click)="registriraj()">
                  <mat-icon>call_missed</mat-icon><span>Registriraj</span>
              </button>
          </mat-menu>
      </span>
  </mat-toolbar>

</div>
 -->

 Hello
širina traku
<!--  <div *ngFor="let item of items"> -->

  <div  *ngIf="rondelica as item">

   <p>Širina traku: {{item.polmerRondelic}}</p>


  </div>
<!--  </div> -->