<mat-toolbar color="primary">
  <a routerLink="/" class="nav-link home">
    <img src="assets/images/logo-nav@2x.png" width="150" height="40" title="Home" alt="Home" class="ng-star-inserted">
  </a>
  <span class="toolbar-item home" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="toolbar-item-active">Domov</span>
  <span class="toolbar-item" routerLink="/rondelica" routerLinkActive="toolbar-item-active">Izračun</span>
  <span class="toolbar-item" routerLink="/rondelica-list" routerLinkActive="toolbar-item-active">Seznam</span>
  
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>