
.izris-container {
  // width: 300mm;
  // height: 100mm;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

.izris-rondelica {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}