
.izris-container {
  border-top : 15mm solid green;
  border-right : 5mm solid green;
  border-bottom : 15mm solid green;
  border-left : 5mm solid green;
}

.izris-rondelica {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}